body{
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
  padding-top: 0;

}
#container-main{
  display: flex;
  flex-direction: column;
  height: 100%;

}
a,.loadingText,span,.songNums,#circlesVis,.tooltip,#spider-chart,#artist-chart,p{
  font-family: 'Playfair Display', serif !important;
}
a:hover{
  color: #FFAECF;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 500%;
  text-align: center;
}
h2 {
  font-family: 'Playfair Display', serif;
  font-size: 150%;
}

.siteDescription{
  font-family: 'Playfair Display', serif;
  font-size: 100%;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
.timeRangeDescription{
  font-family: 'Playfair Display', serif;
  font-size: 80%;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

#mainLineDescription{
  font-size: 180%;
  width: 80%;
}
#clearSongButton{
  background-color: white;
  border: 1px solid black ;
  color: black;
  padding: 10px 30px;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  width:100%;
  max-width: 300px;
}
#clearSongButton:hover{
  background-color: #FFAECF;
  border: 1px solid white ;
  color: white;
  cursor: pointer;

}
.initializeButton{
  font-family: 'Open Sans', sans-serif !important;
  background-color: white;
  border: 1px solid #1DB954 ;
  color: black;
  padding: 10px 30px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.initializeButton:hover{
  background-color: #1DB954; /* Green */
  color: white;
}

.buttonContainer,.timeRangeContainer{
  
  width:50%;
  margin:0 auto;
  text-align: center;
}
#vis-container{
  align-self: center;
  width: 90%;
padding: 15px;
  /* border: 1px solid black; */
  min-width: width auto;;
}
.react-scrollable-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100px;
  max-height: 500px;
  overflow-y: scroll;
  border: #ddd solid 1px;

}

.react-scrollable-list-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  padding: 5px;
  border-bottom: #ddd solid 1px;

  ;
}

#circlesVis,#spider-chart,#artist-chart{
  position: relative;
}

.popup{
  font-family: 'Playfair Display', serif;
  position: absolute;
  bottom: 0;
  right:0;
  font-style: italic;
  font-weight: bold;
  border-radius: 25px;
  height: 25px;
  width: 25px;
  font-size: 100%;
  /* width: 50px; */
  cursor: pointer;
  background-color: #EBECE9;
  color: black;
}
.popupInline{
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: bold;
  position: relative;
  top: 3px;
  border-radius: 20px;
  height: 25px;
  width: 25px;
  font-size: 100%;
  /* width: 50px; */
  cursor: pointer;
  background-color: #EBECE9;
  color: black;
}
*{
  border-radius: 5px;
}

.songElement:hover,.artist-row:hover{
  cursor: pointer;
}

.button.selected{
  background-color: rgb(226, 226, 226);
  /* color: white; */
  border: 2px solid #FFAECF;
}
.button{
  padding:4px
}