#container-song{
display: flex;
flex-direction: row;
flex:1;
}
#popular-songs-list{
    flex:1;
    margin-right:5px;
}

#song-vis-wrapper{
    flex:3;
    display: flex;
    flex-direction: column;
}
.song-img{
    max-width: 50px;
    border-radius: 7px;
    margin-left: 3px;
    margin-right: 3px;
    
}
#circlesVis{
    margin-bottom: 3px;
    width: 100%;
    /* border: 1px solid black; */
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;

}
#spider-chart{
    width: 100%;
    justify-content: center;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    flex:1;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 200px;					
    height: 80px;					
    padding: 2px;				
    font: 15px sans-serif;		
    background:#EBECE9;	
    border: solid;
    border-width: 2px;
    border-color: black;	
    border-radius: 8px;			
}

div.spidertip {	
    position: absolute;			
    text-align: center;			
    width: 200px;					
    height: 220px;					
    padding: 2px;				
    font: 15px 'Playfair Display', serif;		
    background:#FFAECF;	
    border: solid;
    border-width: 2px;
    border-color: black;	
    border-radius: 8px;			
}

div.selectedspidertip {	
    position: absolute;			
    text-align: center;			
    width: 200px;					
    height: 220px;					
    padding: 2px;				
    font: 15px 'Playfair Display', serif;		
    background:#1DB954;	
    border: solid;
    border-width: 2px;
    border-color: black;	
    border-radius: 8px;			
}
